.navbar-desktop{
    width: 100%;
    background-color: rgba(51,50,51,255);
    color: white;
    display: flex;
    justify-content: start;
    align-items: center;
}
.logo-img{
    height: 8rem;
    width: 8rem;
    border-radius: 2em;
}
.item-list{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    margin-left: 15%;
}
.item-from-list{
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    cursor: pointer;
    color: white;
    text-decoration: none;
}

/*NAVBAR RESPONSIVE*/
@media screen and (max-width:2560px) and (min-width:701px){
    .navbar-phone{
        display: none;
    }
}
@media screen and (max-width:700px) and (min-width:500px) {
    .navbar-desktop ul{
        width: 100%;
        margin-left: 0rem;
        margin-right: 1rem;
    }
    .navbar-phone{
        display: none;
    }
}
@media screen and (max-width:499px) and (min-width:300px){
    .navbar-desktop{
        display: none;
    }
    .navbar-phone{
        display: flex;
        align-items: center;
        background-color: rgba(51,50,51,255);
    }
    .burger-button{
        width: 50%;
        margin-left: 50%;
        font-size: 3rem;
        color: white;
    }
    .item-list-phone.notOpen{
        width: 200px;
        height: 50vh;
        position: absolute;
        background-color: rgba(51,50,51,255);
        transform: translateX(-100%);
        transition: 0.5s ease all;
        top: 8rem;
        text-decoration: none;
        list-style: none;
        font-weight: bold;
        font-family: 'Courier New', Courier, monospace;
    }
    .item-list-phone.notOpen li{
        cursor: pointer;
        color: white;
        margin-top: 2rem;
    }
    .item-list-phone.open{
        width: 200px;
        height: 50vh;
        position: absolute;
        background-color: rgba(51,50,51,255);
        transform: translateX(0%);
        transition: 0.5s ease all;
        top: 8rem;
        z-index: 2;
        text-decoration: none;
        list-style: none;
        font-weight: bold;
        font-family: 'Courier New', Courier, monospace;
    }
    .item-list-phone.open li {
        cursor: pointer;
        color: white;
        margin-top: 2rem;
    }
}

/*FOOTER COMPONENT*/
.foot{
    height: auto;
    width: 100%;
    justify-content: center;
    background-color: rgba(51,50,51,255);
}
.footer-page{
    height: 11rem;
    width: 50%;
    align-self: flex-end;
}

/*SLIDER*/
.slide-container{
    width: 60%;
    height: auto;
}
.each-slide-effect > div{
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 600px;
}

/*CALENDAR*/
.calendar-box{
    display: flex;
    flex-direction: column;
    width: 25%;
    height: fit-content;
    background-color: white;
    margin: 2rem;
    border-radius: 1rem;
}
.calendar-header{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 1rem;
}
.calendar-header > p{
    font-weight: bold;
    width: 70%;
}
.icons{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.icons > .arrow-left{
    margin-left: 3rem;
    cursor: pointer;
}
.icons > .arrow-right{
    margin-right: 3rem;
    cursor: pointer;
}
.calendar-week-body{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.calendar-week-body ul li{
    width: calc(100% /7);
}
.weeks{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    font-weight: bold;
}
.weeks > li{
    text-decoration: none;
    list-style: none;
}
.days{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-decoration: none;
}
.days li{
    margin-top: .5rem;
    cursor: pointer;
}
.days li.active{
    font-weight: bold;
}
.days li.inactive{
    color: #aaa;
}
.days li:hover{
    color: red;
    font-weight: bold;
}

@media  screen and (max-width:1450px) and (min-width:1150px) {
    .calendar-box{
        width: 33%;
    }
}

@media screen and (max-width:1149px) and (min-width:850px){
    .calendar-box{
        width: 40%;
    }
}

@media screen and (max-width:849px) and (min-width:650px){
    .calendar-box{
        width: 50%;
    }
    .footer-page{
        width: auto;
    }
}

@media screen and (max-width:649px) and (min-width:500px){
    .calendar-box{
        width: 65%;
    }
      .footer-page{
        width: auto;
    }
}

@media screen and (max-width:499px) and (min-width:376px){
    .calendar-box{
        width: 80%;
    }
      .footer-page{
        width: auto;
    }
}
@media screen and (max-width:375px) and (min-width:300px){
    .calendar-box{
        width: 90%;
    }
      .footer-page{
        width: auto;
    }
}