.navbar{
    background-color: rgba(51,50,51,255);
    color: white;
}
.logo-img{
    height: 8rem;
    width: 8rem;
    border-radius: 2em;
}
.item-list{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    margin-left: 15%;
}
.item-from-list{
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    cursor: pointer;
    color: white;
    text-decoration: none;
}
/*FOOTER COMPONENT*/
.foot{
    height: auto;
    width: 100%;
    justify-content: center;
    background-color: rgba(51,50,51,255);
}
.footer-page{
    height: 11rem;
    width: 50%;
    align-self: flex-end;
}

/*SLIDER*/
.slide-container{
    width: 60%;
    height: 500px;
}
.each-slide-effect > div{
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 550px;
}
