.main-landing{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../img/wood-591631_1920.jpg");
}
.description-box{
    display: flex;
    flex-direction: row;
    width: 80%;
    height:auto;
    padding: 5rem;
    justify-content: center;
    overflow-y: auto;
}
.description{
    width: 45%;
    height: auto;
    color: white;
    font-weight: bold;
    background-color: rgba(51,50,51,255);
    border-radius: 1rem;
    padding: 2rem;
}
.logo-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.landScape{
    height: 40%;
    width: 80%;
    margin-left: 1.5rem;
}
.contactCard{
    height: 40%;
    width: 80%;
    margin-left: 1.5rem;
    padding: 2rem;
}