.main-landing{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.description-box{
    display: flex;
    flex-direction: row;
    width: 80%;
    height:auto;
    padding: 5rem;
    justify-content: center;
    overflow-y: auto;
}
.description{
    width: 45%;
}
.logo-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.landScape{
    height: 45%;
    width: 80%;
    margin-left: 1.5rem;
}
.contactCard{
    height: 45%;
    width: 80%;
    margin-left: 1.5rem;
}